h1{
    display: inline;
}

.div_change_news{
    border-style: solid;
    border-color: black;
    border-width: 1px 0px 1px 0px;
}

.title{
    background-color: darkcyan;
    font-weight: bold;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 0px 1px; 
}