main{
    height: 100%;
    width: 100%;
    margin: auto;
    margin-left: 4%;
}

.icon{
    height: 125%;
    display: inline-block;
    padding: 1%;
    padding-left: 5%;
}
.police{
    background-color: aliceblue;
}

.mada{
    background-color: ghostwhite;
}

.fire{
    background-color: aliceblue;
}

.charge{
    background-color: ghostwhite;
}


.noa{
    background-color: aliceblue;
}

.name{
    font-size: 100%;
    font-size: large;
    font-weight: bold;
    display: inline-block;
    text-align: right;
}
img{
    height: 100%;
    
}
a.row{
    margin-top: 2%;
    display: inline-block;
    height: 12%;
    padding: 4%;
    width: 100%;
    text-decoration: none;
    border: 1px solid blanchedalmond;
    text-align: right;

}