.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    /*background-color: rgba(0, 69, 127, 0.3);*/
}

::-webkit-scrollbar{
    visibility: hidden;
}

app-mobile-header{
    position: absolute;
    height: 20%;
    width: 100%;
    padding: 0 5%;
    top: 0;
    left: 0;
}

.error{
    color: red;
    display: inline-block;
    width: 100%;

}


app-mobile-footer{
    font-size: small;
    width: 100%;
    height: 5%;
    left: 0;
    position: fixed;
    bottom: 1%;
    text-align: center;
}


.div_login{
    position: absolute;
    top: 30%;
    left: 0;
    padding: 0 5%;
    width: 100%;
    height: 50%;
    text-align: center;
}


input{
    display: inline-block; 
    width: 100%;
    padding: 5% 28px;
    margin: 2% 0;
    border-style: none;
    border-bottom: 1px lightgray solid;
    font-size: 16px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.btn_login{
    border-style: none;
    width: 80%;
    margin-top: 20%;
    background-color: #004381;
    padding: 5% 0;
    color: white;
    font-family: 'Arial';
}


.notValid{
    border-bottom: 2px darkred solid;
}


.spinningCircle {
  
    height: 30px;
    width: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid #ddd;
    border-right: 3px solid #ddd;
    animation: spinner 1500ms infinite cubic-bezier(0.45, 0.75, 0.27, 0.48);
}

.dark_gray{
    height: 30px;
    width: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid darkgray;
    border-right: 3px solid darkgray;
    animation: spinner 1000ms infinite cubic-bezier(0.45, 0.75, 0.27, 0.48);
}

.overlay{
    z-index: 999;
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  /*background-color: black;
  opacity: .7;*/
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

  }
}

footer img{
    height: 100%;
    
}

footer{
    direction: rtl;
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: blue;
    font-size: 10px;
}