.main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    /*background-color: rgba(0, 69, 127, 0.3);*/
}

::-webkit-scrollbar{
    visibility: hidden;
}

app-mobile-header{
    position: absolute;
    height: 20%;
    width: 100%;
    padding: 0 5%;
    top: 0;
    left: 0;
}

.error{
    color: red;
    display: inline-block;
    width: 100%;

}


app-mobile-footer{
    font-size: small;
    width: 100%;
    height: 5%;
    left: 0;
    position: fixed;
    bottom: 1%;
    text-align: center;
}


.div_login{
    position: absolute;
    top: 30%;
    left: 0;
    padding: 0 5%;
    width: 100%;
    height: 50%;
    text-align: center;
}


input{
    display: inline-block; 
    width: 100%;
    padding: 5% 28px;
    margin: 2% 0;
    border-style: none;
    border-bottom: 1px lightgray solid;
    font-size: 16px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.btn_login{
    border-style: none;
    width: 80%;
    margin-top: 20%;
    background-color: #004381;
    padding: 5% 0;
    color: white;
    font-family: 'Arial';
}


.notValid{
    border-bottom: 2px darkred solid;
}