<div class='main'>

  <div class='div_logo'>
    <!--<img src="http://i.imgur.com/i6QRf5Q.png" />-->
    <img src='http://i.imgur.com/IVLC4tC.png'/>
  </div>

  <div class='div_login'>
    <input id="input_username" type='text' placeholder="שם משתמש" [class.notValid]='email == ""' [(ngModel)]='email' />
    <input id="input_password" type='password' placeholder="סיסמה" [class.notValid]='password == ""' [(ngModel)]='password' />
    <button type="submit" class='btn_login' (click)='signIn()'>כניסה</button>
  </div>

  <div class='copyRight'>{{copyRight}}</div>

</div>