md-card{

    text-align: center;
}
.btn{
    border-radius: 15px;
}
.btn-start-patrol{
margin-left: 15%;
}

.btn-report{
    font-size: 200%;
    width: 50%;
    text-align: center;

}
.form-actions{
    margin: 0 ;
    margin-top: 5%;
   text-align: center; 
}

.btn-lg{
    height: 70%;
}


.col-xs-6{
    display: inline-block;  
    font-family: arial;
    font-size: 200%;
    width: 42%;
    height: 100%;
    margin: 2%;
}