<div class='container'>
  
  
  <div class='row'>
    <button type="button" class="col-xs-6 btn btn-start-patrol" (click)='buttonStartPatrol()'>התחל סיור</button>
    <button type="button" class="col-xs-6 btn btn-spot" (click)='buttonAddSpot()'>נקודה</button>
    <br>
    <button type="button" class="col-xs-6 btn btn-report" (click)='buttonAddReport()'>אירוע</button>

    </div>

    <div class='row'>
      <span class='col-xs-3'></span>

      <span class='col-xs-3'></span>
    </div>
    <div class='row'>
      <span class='col-xs-1'></span>
      <md-card class='col-xs-10'>
      </md-card>
      <span class='col-xs-1'></span>
  </div>


</div>