<div class='container'>
  
  
  <div class='row'>
    
    <button type="button" class="btn col-xs-6 btn-success btn-start-patrol" (click)='buttonStartPatrol()'>התחל סיור</button>
    <button type="button" class="btn col-xs-6 btn-info btn-spot" (click)='buttonAddSpot()'>נקודה</button>
  </div>
    <div class='row'>
    <div class="form-actions">
    <button type="button" class="btn btn-warning btn-lg btn-report" (click)='buttonAddReport()'>אירוע</button>
    </div> 
  </div> 

    <div class='row'>
      <md-card class='col-xs-10'>
      </md-card>

    </div>


</div>