.btn_moveTo{
    width: 100%;
    height: 10%;
    background-color: #004381;
    text-align: center;
    padding: 2% 0;
    color: white;
    font-size: large;
    margin: 1% 0;
}

.btn_moveTo_canceled{
    width: 100%;
    height: 10%;
    background-color: lightgray;
    text-align: center;
    padding: 2% 0;
    color: white;
    font-size: large;
    margin: 1% 0;
}

main{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    display: block;
}