.btn_moveTo{
    width: 100%;
    height: 10%;
    background-color: #004381;
    text-align: center;
    padding: 2% 0;
    color: white;
    font-size: large;
    margin: 1% 0;
    border-radius: 8px; 
}

.btn_moveTo_canceled{
    width: 100%;
    height: 10%;
    background-color: lightgray;
    text-align: center;
    padding: 2% 0;
    color: white;
    font-size: large;
    margin: 1% 0;
    border-radius: 8px; 
}

main{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    display: block;
}

.statistic{
    width: 100%;
    height: 100%;
}

#img{
    width: 32px;
    height: 32px;
}

#startPatrol{
background: #42A948;

}

#endPatrol{
background-color: #a94442;

}
/*
#report{
    
    background-color: #81D4FA;
    
}

#addSpot{
    background-color:#81D4FA;
  
}
*/