<div *ngIf='shift' class='shift-title'>

  <div *ngIf='shift.startShift'>
    <span *ngIf='shift.startShift.lead'>{{shift.team.lead}}</span>
    <span *ngIf='shift.startShift.date'>{{shift.stratShift.date}}</span>
    <span *ngIf='shift.startShift.location'>{{shift.startShift.location}}</span>
  </div>

  <div *ngIf='shift.reports'>
    <div *ngFor='let report of shift.reports'>
      <app-last-report *ngFor='let report of shift.reports' [report]='report'>
      </app-last-report>
    </div>
  </div>


</div>