.shift-title{
    border-bottom: 1px solid lightgray;
    width: 100%;
    color: black;
}

span{
    width: 33%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.shift_row{
    padding: 0 2%;
    overflow: hidden;
    white-space: nowrap;

}

app-last-report{
    width: 100%;
    font-size: small;
}