.shift-title{
    background-color: lightcyan;
    width: 100%;
    color: black;
}

.shift_row{
    overflow: hidden;
    white-space: nowrap;
    
}

app-last-report{
    width: 100%;
    font-size: small;
}