popup-report{
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: white;
    z-index: 99999;
    width: 40%;
    border:1px;
    border-style: solid;
    border-color: black;
}

