<main>
  <section>
    <h1>משמרות אחרונות</h1>
    <div class='div_last_shifts'>
      <div class='last_shift' *ngFor='let shift of firebseService.shiftObsarvable | async'>
        <last-shift *ngIf='firebseService.checkIfShiftBelong(shift["$key"])' [shift]='shift'>
        </last-shift>
      </div>
    </div>
  </section>


  <section class='map'>
    <h1>מפת אירועים</h1>
    <div class='map_div'>
      <app-maps [reports]='firebseService.reportObsarvable | async'
                [cold]='firebseService.coldObsarvable | async'
                [hot]='firebseService.hotObsarvable | async'></app-maps>
    </div>
  </section>


  <section>
    <h1>אירועים אחרונים</h1>
    <div class='div_last_report'>
      <div class='last_report' *ngFor='let report of firebseService.reportObsarvable | async'>
        <app-last-report *ngIf='firebseService.checkIfReportBelong(report)' [report]='report'>
        </app-last-report>
      </div>
    </div>
  </section>
</main>