.table_row:hover{
    opacity: 0.3;
    cursor: pointer;
}

.center{
    padding: 2%;
}

h1{
    
    border-style: solid;
    border-color: lightgray;
    border-width: 0px 0px 1px 0px;
}



last-shift{
    width: 100%;
    display: inline-block;
}



section{
    width: 30%;
    margin: 0 1%;
    display: inline-block;
    height: 100%;
}
