<main>
  <section class='last_shift'>
    <h1>משמרות אחרונות</h1>
    <div *ngFor='let shift of firebseService.shifts'>
      <last-shift [shift]='shift' class='row'>
      </last-shift>
    </div>
  </section>


  <section class='map'>
    <h1>מפת אירועים</h1>
    <app-maps></app-maps>
  </section>


  <section class='now_active'>
    <h1>אירועים אחרונים</h1>
    <div *ngFor='let report of firebseService.reports'>
      <app-last-report [report]='report'>
      </app-last-report>
    </div>
  </section>
</main>