<div class="end">

  <div id="endShif-btn-veryGood" (click)="filling = 'מצויין'"><img src="https://image.flaticon.com/icons/svg/75/75534.png"> </div>
  <div id="endShif-btn-nice" (click)="filling = 'סבבה'"><img src="https://image.flaticon.com/icons/svg/75/75482.png"></div>
  <div id="endShif-btn-humi" (click)="filling = 'לא משהו'"> <img src="https://image.flaticon.com/icons/svg/75/75966.png"></div>
  <div id="endShif-btn-ang" (click)="filling = 'גרוע'"><img src="https://image.flaticon.com/icons/svg/75/75495.png"></div>
  <br>
</div>

<div id="filling">{{filling}}</div>
<div *ngIf="filling == null" id="how-filling">?אז איך עבר הסיור</div>

<textarea cols="50" rows="4" id="summary" [(ngModel)]="summaryT" placeholder="?רוצה לפרט קצת"></textarea>
<button class="btn" id="endShif-btn" (click)='endThisShift(filling)'>סיים</button>