#endShif-btn-veryGood,#endShif-btn-nice,#endShif-btn-humi,#endShif-btn-ang{
    float: right;
    width:20%; 
    display: block;
    margin: auto; 
    margin-right:3%; 
    margin-top:7%; 
}
#filling,#how-filling{

    clear:both;   
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Arial';
    margin-top: 30%;
    font-size:30px; 

}
#summary{
    text-align: right;
    display: block;
    margin: auto;
    width: 90%;
    height: 30%;
    margin-top: 2%;
}
#unusualEvents,#dilemmas{
  text-align: right;
    display: block;
    margin: auto;
    width: 90%;
    height: 10%;
    margin-top: 2%;

}
#endShif-btn{

    clear:both;   
    display: block;
    margin: auto;
    margin-top:10%;
    width: 35%;
    height: 8%;
    font-family: 'Arial';
    font-size: 25px;
    background-color: #a94442;
    color: white;
}

.end{

    width: 93%;
    margin-left: 2%;
}