<div class="end">

  <div id="endShif-btn-veryGood" (click)="filling = 'מצויין'"><img src="https://firebasestorage.googleapis.com/v0/b/antidrugsjerusalem.appspot.com/o/image%2Fveryhappy.png?alt=media&token=786539be-0b3d-49a3-a9ed-2ddb2e06535e"> </div>
  <div id="endShif-btn-nice" (click)="filling = 'סבבה'"><img src="https://firebasestorage.googleapis.com/v0/b/antidrugsjerusalem.appspot.com/o/image%2Fvery-happy-boy-face.png?alt=media&token=f199c40a-69af-4435-9bce-d813d08d18a5"></div>
  <div id="endShif-btn-humi" (click)="filling = 'לא משהו'"> <img src="https://firebasestorage.googleapis.com/v0/b/antidrugsjerusalem.appspot.com/o/image%2Fhumility.png?alt=media&token=1dda4893-cb07-4316-83ca-3b0b66e7861f"></div>
  <div id="endShif-btn-ang" (click)="filling = 'גרוע'"><img src="https://firebasestorage.googleapis.com/v0/b/antidrugsjerusalem.appspot.com/o/image%2Fanger-face.png?alt=media&token=2b23758b-5509-4749-b6c8-cb9a318bef09"></div>
  <br>
</div>

<div id="filling">{{filling}}</div>
<div *ngIf="filling == ''" id="how-filling">?אז איך עבר הסיור</div>
<textarea cols="25" rows="2" id="unusualEvents" [(ngModel)]="unusualEvents" placeholder="? אירועים חריגים ודרכי הטיפול"></textarea>
<textarea cols="25" rows="2" id="dilemmas" [(ngModel)]="dilemmas" placeholder="? דילמות שעלו במהלך הסיור"></textarea>
<textarea cols="25" rows="4" id="summary" [(ngModel)]="summaryT" placeholder="? רוצה לפרט קצת על תחושות הצוות"></textarea>
<button class="btn" id="endShif-btn" (click)='endThisShift(filling,summaryT,dilemmas,unusualEvents)'>סיים</button>