<div>
  <div class='details' *ngIf='shift.shift'>
    <div class='row'>
      <span class='description'>{{shift.shift.team.teamNum}}</span>
      <span class='label'>מספר הצוות:</span>
    </div>

    <div class='row'>
      <span class='description'>{{shift.shift.reportsId.length}}</span>
      <span class='label'>מספר האירועים שדווחו:</span>
    </div>

    <div class='row'>
      <span class='description'>{{shift.shift.hotSpotId.length}}</span>
      <span class='label'>מספר נקודות חמות שדווחו:</span>
    </div>

    <div class='row'>
      <span class='description'>{{shift.shift.coldSpotId.length}}</span>
      <span class='label'>מספר הנקודות קרות שדווחו:</span>
    </div>

    <div class='row'>
      <span class='description'>{{shift.shift.stratShift.date | date:'HH:mm'}}</span>
      <span class='label'>שעת תחילת המשמרת:</span>
    </div>

    <div class='row'>
      <span class='description'>{{shift.shift.team.lead}}</span>
      <span class='label'>ראש הצוות:</span>
    </div>
  </div>
</div>