<header>
</header>
<main>
  <section class='add_new_user'>
    <md-card>
      <select required placeholder="בחר סוג משתמש" (change)='role = $event.target.value'>
        <option *ngFor='let item of types' [value]='item.value' >
          {{item.valueToShow}}
        </option>
      </select>
      <select *ngIf='userService.user.details.role.type == 4' (change)='type = $event.target.value'>
        <option value='parentPatrol'>
          סיירת הורים
        </option>
        <option value='dtPatrol'>
          ניומן אורי
        </option>
      </select>
      <input id="input_username" type='email' class='form-control' [(ngModel)]='email' placeholder="שם משתמש" required>
      <input id="input_password" type='password' class='form-control' [(ngModel)]='password' placeholder="" required>
      <input type='text' class='form-control' [(ngModel)]='name' placeholder="שם" required>
      <button type="submit" class='btn btn-default' (click)='signup()'>הוספה</button>
      <button class='btn btn-default' (click)='clear()'>נקה</button>
    </md-card>
  </section>
</main>