<div class='container'>
  <div class='row'>ניהול משתמשים</div>
  <div class='row'>
    <div class='col-md-4'>
    
    </div>

    <div class='col-md-4'>
      <select id='username_select>'>
        <option>בחר משתמש</option>
      </select>

    </div>

    <div class='col-md-4'>
    
    </div>
  </div>

  <div class='row'>הוספת משתמש</div>
  <div class='row'>
    <div class='col-md-4'>
      
    </div>

    <div class='col-md-4'>
      
      <div class='div_sign_in'>
        <label>שם משתמש
        <input id="input_username" type='text' class='form-control' placeholder="שם משתמש">
        </label><br>
        <label>סיסמה
          <input id="input_password" type='password'  class='form-control' placeholder="">
        </label><br>
        <button  type="submit" class='btn btn-default' (click)='signup()'>הוספה</button>
        <button  class='btn btn-default' (click)='clear()'>נקה</button>
      </div>

    </div>

    <div class='col-md-4'>
    
    </div>
  </div>
</div>