main{
    
    .add_new_user{
      
        text-align: right;
        position: absolute;
        left: 65%;
        top: 10%;
        height: 30%;
        width: 20%;
    }
    .title{
        position: absolute;
        left:75%;
        text-align: right;
        font-size: 20px;
        
    }
    .form-control{
        margin: 1%;
        text-align: right;
    }
  
}
