.sidenav_container{
    cursor: context-menu;
    position: absolute;
    right: 0%;
    width: 3%;
    background-color:#4F84C4;
    transition: width 0.3s;
    white-space: nowrap;
    overflow: hidden;
    z-index: 9999999;
    height: 100%;
}

.sidenav_container:hover{
    width: 10%;
}

@media only screen and (max-width: 800px){

    .sidenav_container{
        width: 10%;
    }

    .sidenav_container:hover{
        width: 70%;
    }   
}

.btn_nav{
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #578CA9;
    .sidenav_text{
        color: white;
    }  

    cursor: pointer;
    padding: 2px 2px 2px 0px;
}
