<header class='container' fxLayout="column" fxLayoutAlign="space-between start">
  <div class='container' fxLayout="row" fxLayoutAlign="start start">
    <h1>חפש משמרת:</h1>
  </div>

  <div class='container search_row' fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex>
      <input fxFlex type='text' placeholder="שם ראש הצוות" [(ngModel)]='leadName'/>
    </div>
    <!--<div fxFlex>
      <input fxFlex type='text' placeholder="מיקום" [(ngModel)]='locationName'/>
    </div>-->
    <div fxFlex class='container' fxLayout="row">

      <label fxFlex >
        מתאריך
        <input type="date" [(ngModel)]='fromDate'/>
      </label>

      <label fxFlex >
        עד תאריך
        <input type="date" [(ngModel)]='toDate'/>
      </label>
      
    </div>

    
  </div>
  <div class='container search_row' fxLayout="row" fxLayoutAlign="space-between start">
    <div fxFlex class='container' fxLayout="row">
      <select fxFlex [(ngModel)]='fromReportNum'>
        <option  [ngValue]='"0"'>
          ממספר אירועים
        </option>
        <option *ngFor='let index of numData' [ngValue]='index'>
          {{index}}
        </option>
      </select>

      <select fxFlex [(ngModel)]='toReportNum'>
        <option  [ngValue]='"0"'>
          עד מספר אירועים
        </option>
        <option *ngFor='let index of numData' [ngValue]='index'>
          {{index}}
        </option>
      </select>
    </div>
    <div fxFlex class='container' fxLayout="row">
      <select fxFlex [(ngModel)]='fromColdNum'>
        <option  [ngValue]='"0"'>
          ממספר נקודות קרות
        </option>
        <option *ngFor='let index of numData' [ngValue]='index'>
          {{index}}
        </option>
      </select>

      <select fxFlex [(ngModel)]='toColdNum'>
        <option  [ngValue]='"0"'>
          עד מספר נקודות קרות
        </option>
        <option *ngFor='let index of numData' [ngValue]='index'>
          {{index}}
        </option>
      </select>
    </div>

    <div fxFlex class='container' fxLayout="row">
      <select fxFlex [(ngModel)]='fromHotNum'>
        <option  [ngValue]='"0"'>
          ממספר נקודות חמות
        </option>
        <option *ngFor='let index of numData' [ngValue]='index'>
          {{index}}
        </option>
      </select>

      <select fxFlex [(ngModel)]='toHotNum'>
        <option  [ngValue]='"0"'>
          עד מספר נקודות חמות
        </option>
        <option *ngFor='let index of numData' [ngValue]='index'>
          {{index}}
        </option>
      </select>
    </div>
  </div>
  <div class='container' fxLayout="row" fxLayoutAlign="end start">
    <button (click)='search(originalData)'>חפש</button>
    <button (click)='generateCvs()'>הורד לאקסל</button>
  </div>
  
</header>

<main>
  <table>
    <tr class='table_head'>
      <th>
        תאריך
      </th>
      <th>
        שעת התחלה
      </th>
      <th>
        שעת סיום
      </th>
      <th>
        ראש צוות
      </th>
      <th>
        מספר אנשי צוות
      </th>
      <th>
        מספר אירועים
      </th>
      <th>
        מספר נקודות קרות
      </th>
      <th>
        מספר נקודות חמות
      </th>
    </tr>

    <tr class='table_body' *ngFor='let shift of data' [routerLink]='["../show-shift", shift.$key]'>
      <td>
        {{shift.stratShift.date | date:'dd.MM.yyyy'}}
      </td>
      <td>
        {{shift.stratShift.date | date:'hh:mm:ss'}}
      </td>
      <td>
        <!--<span>{{shift.endShift.date | date:'hh:mm:ss'}}</span>-->
        <span *ngIf='shift.endShift != null'>{{shift.endShift.date | date:'hh:mm:ss'}}</span>
        <span *ngIf='!shift.endShift'>דוח סיום לא הוזן</span>
      </td>
      <td>
        {{shift.team.lead}}
      </td>
      <td>
        {{shift.team.members.length}}
      </td>
      <td>
        {{shift.reportsId?.length}}
      </td>
      <td>
        {{shift.coldSpotId?.length}}
      </td>
      <td>
        {{shift.hotSpotId?.length}}
      </td>
    </tr>

  </table>
</main>