<header>
  <!--here come all search setting-->
</header>

<main>
  <table>
    <tr class='table_head'>
      <th>
        תאריך
      </th>
      <th>
        שעת התחלה
      </th>
      <th>
        שעת סיום
      </th>
      <th>
        ראש צוות
      </th>
      <th>
        מספר אנשי צוות
      </th>
      <th>
        מספר אירועים
      </th>
      <th>
        מספר נקודות קרות
      </th>
      <th>
        מספר נקודות חמות
      </th>
    </tr>

    <tr 
      class='table_body' 
      *ngFor='let shift of firebseService.shifts'
      [routerLink]='["../show-shift", firebseService.shifts.indexOf(shift)]'>
      <td>
        {{shift.stratShift.date | date:'dd.MM.yyyy'}}
      </td>
      <td>
        {{shift.stratShift.date | date:'hh:mm:ss'}}
      </td>
      <td>
        <!--<span>{{shift.endShift.date | date:'hh:mm:ss'}}</span>-->
        <span *ngIf='shift.endShift != null'>{{shift.endShift.date | date:'hh:mm:ss'}}</span>
        <span *ngIf='!shift.endShift'>דוח סיום לא הוזן</span>
      </td>
      <td>
        {{shift.team.lead}}
      </td>
      <td>
        {{shift.team.members.length}}
      </td>
      <td>
        {{shift.reportsId?.length}}
      </td>
      <td>
        {{shift.coldSpotId?.length}}
      </td>
      <td>
        {{shift.hotSpotId?.length}}
      </td>
    </tr>
    
  </table>
</main>

