main{
    width: 100%;
    direction: rtl;
    table{
        margin: 0 5%;
        width: 100%;
    
        tr{
            direction: rtl;
            text-align: right;
            th{
                text-align: right;
            }
        }
        .table_head{
            border-bottom: 2px solid gray;
        }

    }
}