<div class='container'>
    <div class='row'>

        <button type="button" class="btn col-xs-6 btn-success btn-hot-spot" (click)='buttonHotSpot()'>נקודה חמה</button>
        <button type="button" class="btn col-xs-6 btn-success btn-cold-spot" (click)='buttonColdSpot()'>נקודה קרה</button>
    </div>
</div>
<div>
    <img class="image"/>
</div>
<div class='btn_camera'>
    <i class="material-icons">camera_alt</i>
    <input type="file" name="image" accept="image/*" (change)='getImage($event)' capture="user">
</div>