<div class='container'>
    <div class='row'>

        <!--<button type="button" class="btn col-xs-6 btn-success btn-hot-spot" (click)='buttonHotSpot()'><img src='https://cdn4.iconfinder.com/data/icons/web-ui-color/128/Marker_red-128.png' id="img"/>  נקודה חמה</button>-->
        <button type="button" class="btn col-xs-6 btn-success btn-hot-spot" [routerLink]='["../report", 2]'><img src='https://cdn4.iconfinder.com/data/icons/web-ui-color/128/Marker_red-128.png' id="img"/>  נקודה חמה</button>
        <button type="button" class="btn col-xs-6 btn-success btn-cold-spot" (click)='buttonColdSpot()'><img src='https://cdn4.iconfinder.com/data/icons/web-ui-color/128/Marker-128.png' id="img"/>  נקודה קרה</button>
    </div>
</div>
<div>
    <img class="image"/>
</div>
<div class='btn_camera'>
    <i class="material-icons">camera_alt</i>
    <input type="file" name="image" accept="image/*" (change)='getImage($event)' capture="user">
</div>