input[type='file']{
    opacity: 0;
    top: 20%;
    left: 20%;
    height: 50%;
    width: 58%;
    position: absolute;
}


button{
  width: 96%;
    height: 10%;
    background-color: #004381;
    text-align: center;
    padding: 2% 0;
    color: white;
    font-size: large;
    margin: 1% 0;
    border-radius: 8px; 
}



i{
    position: absolute;
    top: 20%;
    left: 20%;
}

.image{
    height: 70%;
    width: 80%;
}

#img{
    width: 32px;
    height: 32px;
}