<div *ngIf='isSubmit' class="overlay">
  <div class="spinningCircle"></div>
  <div class="dark_gray"></div>
</div>



<save-location-beta
  [message]='"אנא הכנס את שם השכונה"'
  [fixed]=7>
  </save-location-beta>

<div class='container'>

  <div class='row' id='error_msg'>
    <div *ngIf='!isValid' id="error">
      <div class='alert alert-danger' role='alert'> 
        <strong>
           נא למלא את השדות
        </strong>
      </div>
    </div> 
  </div>

  <div id='input_details'>
     <input placeholder="מספר צוות" type='text' class='form-control' id='teamNumber' required [(ngModel)]='team.teamNum' >
    
     <input placeholder="מספר המתנדבים" type="number" class='form-control' id='numOfVolunteers' required (focusout)='team.initMembersArray(numOfMembers)' [(ngModel)]="numOfMembers"  >
    
     <input type='text' class='form-control' id='teamLeader' required placeholder="ראש צוות" [(ngModel)]='team.lead'>
    
  </div>
  <div *ngIf='team.members.length!=0' id='members'>:מתנדבים</div>
  <div class="teamMembersName" *ngFor='let item of team.members'>
   <input  [(ngModel)]="team.members[item.index].name" type="text" class="form-control" id="teamMembersName"  required placeholder="שם המתנדב/ת">
  </div> 
  <br>

  <button type="button" class="btn btn-startPatrol" (click)='startPatrol()'>התחל</button>


</div>
