input{
    font-weight: normal;
   /* text-align: right;*/
      display: block;
    margin: auto;
}

.form-control{
    width: 100%;
    text-align: right;
}

#teamMembersName{
    margin-bottom: 20%;
    text-align: right; 
    width: 100%;
    display: block;
    margin: auto;
}

.ng-valid[required], .ng-valid.required  {
  border-right: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-right: 5px solid #a94442; /* red */
}
.btn-startPatrol{
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 6px;
    font-size: 20px;
    color: white;
    font-family: 'Arial';
    background-color:  #42A948; /* green */
}

.container{
    position: absolute;
    width: 100%;
}

#teamNumber,#numOfVolunteers,#teamLeader,#teamMembersName{
    margin-bottom: 3%;
}

#error,#error_msg{
    text-align: center;
    width: 100%;
     display: block;
    margin: auto;
}

#members{
    font-size: 20px;
    text-align: right;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.spinningCircle {
  
    height: 30px;
    width: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid #ddd;
    border-right: 3px solid #ddd;
    animation: spinner 1500ms infinite cubic-bezier(0.45, 0.75, 0.27, 0.48);
}

.dark_gray{
    height: 30px;
    width: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid darkgray;
    border-right: 3px solid darkgray;
    animation: spinner 1000ms infinite cubic-bezier(0.45, 0.75, 0.27, 0.48);
}

.overlay{
    z-index: 999;
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  /*background-color: black;
  opacity: .7;*/
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

  }
}