.report{

position: absolute;
width: 100%;
margin-bottom: 200px;
}

.inputs{  
    width: 100%;
}

input{
    font-weight: normal;
    text-align: right;
    padding-right:5px; 
    width: 96%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid gray;
   /* border-left: 1px solid gray;*/
    border-radius:8px;
    border-right: 0;   
}

.btn_submmit{
    position: relative;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10%;
    text-align: center;
}
.button
{
    
    padding-right: 5%;
}

input[type='file']{
    opacity: 0;
    top: 20%;
    left: 20%;
    height: 50%;
    width: 58%;
    position: absolute;
}


i{
    position: absolute;
    top: 20%;
    left: 20%;
}


.btn_camera{
    cursor: pointer;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: floralwhite;
    border: 1px solid gray; 
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 5%;
}

#img{
    width: 32px;
    height: 32px;
}



.spinningCircle {
  
    height: 30px;
    width: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid #ddd;
    border-right: 3px solid #ddd;
    animation: spinner 1500ms infinite cubic-bezier(0.45, 0.75, 0.27, 0.48);
}

.dark_gray{
    height: 30px;
    width: 30px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0);
    border-top: 3px solid darkgray;
    border-right: 3px solid darkgray;
    animation: spinner 1000ms infinite cubic-bezier(0.45, 0.75, 0.27, 0.48);
}

.overlay{
    z-index: 999;
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  /*background-color: black;
  opacity: .7;*/
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

  }
}