.div_logo{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2px 5%;
    text-align: center;
    top: 0;
    left: 0;
    transition: width 2s;
  
}


.btn_phone{
    position: absolute;
    height: 60%;
    width: 10%;
    text-align: center;
    top: 20%;
    right: 8%;
    padding-top: 1%;
    background-color: #004381;
    color: white;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 150%;
    border-radius: 15%;
}

.btn_back{
    position: absolute;
    height: 60%;
    width: 15%;
    text-align: center;
    top: 20%;
    background-color: #004381;
    color: white;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 150%;
    border-radius: 15%; 
}

img{
    height: 100%;
    
}