<!--<header>
  <div>
  <span>{{shift.stratShift.date | date:'dd.MM.yyyy'}}</span>
  <span>{{shift.stratShift.date | date:'HH:mm:ss'}}</span>
  <span *ngIf='shift.stratShift.location'>
    {{shift.stratShift.location.name}}
  </span>
  </div>

  <div>
    <span>{{shift.team.teamNum}}</span>
    <span>{{shift.team.lead}}</span>
    <span *ngFor='let member of shift.team.members'>{{member.nam}}</span>
  </div>

  <div *ngIf='shift.endShift'>
    <span>{{shift.endShift.date | date:'dd.MM.yyyy'}}</span>
  <span>{{shift.endShift.date | date:'hh:mm:ss'}}</span>
  <span *ngIf='shift.stratShift.location'>
    {{shift.endShift.location.name}}
  </span>
  </div>
</header>

<main>
  <section class='reports'>
    <div *ngFor='let report of shift.reports'
    (click)='reportChoose = report; isChoose = true'>
        <span>{{report.date | date:'HH:mm'}}</span>
        <span>{{report.summary}}</span>
    </div>
  </section>

  <section>
  <div *ngFor='let loc of shift.coldSpotArr'>
    {{loc.name}}    
  </div>
  </section>

  <aside class='report_choose'>
    <app-show-report *ngIf='isChoose' [report]='reportChoose'>

    </app-show-report>
  </aside>
</main>-->