<<<<<<< HEAD
main{
    width: 100%;
    height: 100%;
    margin-right: 5%;
    direction: rtl;
    table{
        margin: 5% 5%;
        width: 100%;
    
        tr{
            direction: rtl;
            text-align: right;
            th{
                text-align: right;
            }
        }
        .table_head{
            border-bottom: 2px solid gray;
        }

    }
}


aside.shift_details{
header{

    direction: rtl;
    margin-right: 5%;
    width: 100%;

}

/*main{
    direction: rtl;
    margin-right: 5%;
    width: 100%;
}*/

.label{
    color:#004381;
    font-size: 15px;

}