<main class='container' fxLayout=row>
  <aside class='shift_details' fxFlex=45>
    <div>
      <span class="label">תאריך משמרת:</span>
      <span>{{shift.stratShift.date | date:'dd.MM.yyyy'}}</span>
      <br>
      <span class="label">שעת התחלה:</span>
      <span>{{shift.stratShift.date | date:'HH:mm:ss'}}</span>
      <br>
      <span *ngIf='shift.stratShift.location'>
     <span class="label">מיקום התחלה:</span> {{shift.stratShift.location | locationName}}
      </span>
    </div>
    <div *ngIf='shift.endShift'>
      <span class="label">שעת סיום משמרת:</span>
      <span>{{shift.endShift.date | date:'hh:mm:ss'}}</span>
      <br>
      <span *ngIf='shift.stratShift.location'>
       <span class="label">מיקום סיום:</span> {{shift.endShift.location | locationName}}
      </span>
    </div>
    <br>
    <div>
      <span class="label">מספר צוות:</span>
      <span>{{shift.team.teamNum}}</span>
      <br>
      <span class="label">ראש צוות:</span>
      <span>{{shift.team.lead}}</span>
      <br>
      <span class="label">שמות המתנדבים בסיור:</span>
      <span *ngFor='let member of shift.team.members'>{{member.name}} , </span>
      <br>
      <span>תחושת הצוות:</span>
      <span>{{shift.endShift.filling}}</span>
    </div>

    <div>
      <table>
    <tr class='table_head'>
      <th>
        נקודות קרות
      </th>
      <th>
        נקודות חמות
      </th>
      <th>
        דיווחים
      </th>
    </tr>

       <tr class='table_body' *ngFor='let shift of data' >
        <td>
          {{shift.coldSpotArr}}
        </td>
        <td>
          {{shift.hotSpotArr}}
        </td>
        <td>
          {{shift.reports}}
        </td>
      </tr>  
    </table>
   </div>    
  </aside>

  <aside class='container details' fxLayout=column fxFlex=45>
    <section class='choose_details' fxFlex>
      <show-report [report]='reportChoose'></show-report>
    </section>
    <section class='maps' fxFlex>
      <app-maps [reports]='reports' [cold]='colds' [hot]='hots'>
        <!--choosen היה פה משהו עם -->
      </app-maps>
    </section>
  </aside>
</main>



<!--<main class='container' fxLayout=row> 
  <aside class='shift_details' fxFlex=45>
    <div>
      <span class="label">תאריך משמרת:</span>
      <span>{{shift.stratShift.date | date:'dd.MM.yyyy'}}</span>
      <br>
      <span class="label">שעת התחלה:</span>
      <span>{{shift.stratShift.date | date:'HH:mm:ss'}}</span>
      <br>
      <span *ngIf='shift.stratShift.location'>
    <span class="label">מיקום התחלה:</span> {{shift.stratShift.location | locationName}}
      </span>
    </div>

    <div *ngIf='shift.endShift'>
      <span class="label">שעת סיום משמרת:</span>
      <span>{{shift.endShift.date | date:'hh:mm:ss'}}</span>
      <br>
      <span *ngIf='shift.stratShift.location'>
      <span class="label">מיקום סיום:</span> {{shift.endShift.location | locationName}}
      </span>
    </div>
    <br>


    <table>
    <tr class='table_head'>
      <th>
        נקודות קרות
      </th>
      <th>
        נקודות חמות
      </th>
      <th>
        דיווחים
      </th>
    </tr>

    <tr class='table_body' *ngFor='let shift of data' >
      <td>
          {{shift.coldSpotArr}}
      </td>
      <td>
          {{shift.hotSpotArr}}
      </td>
      <td>
          {{shift.reports}}
      </td>
    </tr>  
</table>   
<main>
  <section class='reports'>
    <div *ngFor='let report of shift.reports'
    (click)='reportChoose = report; isChoose = true'>
        <span>{{report.date | date:'HH:mm'}}</span>
        <span>{{report.summary}}</span>
    </div>
  </section>

    <div>
      <span class="label">מספר צוות:</span>
      <span>{{shift.team.teamNum}}</span>
      <br>
      <span class="label">ראש צוות:</span>
      <span>{{shift.team.lead}}</span>
      <br>
      <span class="label">שמות המתנדבים בסיור:</span>
      <span *ngFor='let member of shift.team.members'>{{member.name}} , </span>
      <br>
      <span>תחושת הצוות:</span>
      <span>{{shift.endShift.filling}}</span>
    </div>

    <div>
       <table>
          <tr class='table_head'>
            <th>
              נקוודות קרות
            </th>
            <th>
                נקודות חמות
            </th>
            <th>
              דיווחים
            </th>
        

          <tr class='table_body' *ngFor='let shift of data' >
            <td>
               {{shift.team.lead}}
            </td>
        </table>
    </div>  


  </aside>

  <aside class='container details' fxLayout=column fxFlex=45>
    <section class='choose_details' fxFlex>

    </section>
    <section class='maps' fxFlex>
      <app-maps [reports]='reports'
                [cold]='colds'
                [hot]='hots'><!--choosen היה פה משהו עם -->
<!--</app-maps>
    </section>
  </aside>-->



<!--<aside>
  <section>
   <table>
      <tr ng-repeat="shift in $data">
          <td title="'cold spots'">
              {{shift.coldSpotArr}}</td>
          <td title="'hot spots'" >
              {{shift.hotSpotArr}}</td>
         <td title="'reports'">
             {{shift.reports}}</td>    
     </tr>
    </table>
   </section> 
</aside>-->
<!--</main>-->