header{
    direction: rtl;
    margin-right: 5%;
    width: 100%;

}

main{
    direction: rtl;
    margin-right: 5%;
    width: 100%;
}

.label{
    color:#004381;
    font-size: 15px;

}